doctype html 
html
  head
    title Noor Tech Academy 
    block scripts
    block style 
  body
    nav#navbar 
            ul 
                div#logo
                    img(src="/static/img/logo1.jpg")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Class info]
                li #[a(href="/") Service]
                li #[a(href="/contact") Contact Us]
    block content
    footer#footer   
            | Copyright © 2023 NoorAcademy.com | All rights reserved